---
interface Props {
  classes?: string
  mode: 'default' | 'outlined' | 'gradient'
  type?: 'gradient' | 'gray'
  href: string
  target?: '_blank' | '_parent' | '_self' | '_top'
  style?: string | Record<string, string | number>
}

const { classes = '', type = 'gradient', mode, href, target = '_self', style } = Astro.props
---

<a
  href={href}
  target={target}
  class:list=`button button--mode-${mode} button--type-${type} ${classes}`
  style={style}
>
  <slot />
</a>

<style>
  .button {
    display: block;
    padding: 0.75rem 1.5rem;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    border-radius: 0.5rem;
    cursor: pointer;
    transition:
      0.3s ease-in-out background-position,
      0.2s ease background-color;
      0.2s ease border-color;
  }

  .button--type-gradient.button--mode-default {
    color: #072c18;
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
    background-size: 150% 100%;
    background-position: 0% 0%;
  }

  .button--type-gradient.button--mode-default:hover {
    background-position: 100% 0%;
  }

  .button--type-gradient.button--mode-outlined {
    border: 2px solid var(--neutral-08);
  }

  .button--type-gradient.button--mode-outlined:hover {
    border-color: var(--neutral-07);
  }

  .button--type-gradient.button--mode-outlined:active {
    border-color: var(--neutral-06);
  }

  .button--type-gray.button--mode-default {
    color: var(--neutral-02);
    background-color: var(--shade-03);
  }

  .button--type-gray.button--mode-default:hover {
    background-color: var(--shade-04);
  }

  .button--type-gray.button--mode-outlined {
    border: 2px solid var(--shade-03);
    color: var(--shade-03);
  }

  .button--type-gray.button--mode-outlined:hover {
    border-color: var(--shade-04);
    color: var(--shade-04);
  }

  .button--mode-gradient {
    background: linear-gradient(to right, var(--secondary), var(--primary));
    box-shadow:
      0 0 24px var(--secondary),
      0 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--shade-03);
    border: none;
  }

  .button--mode-gradient:hover {
    background-position: 100% 0%;
    background-size: 150% 100%;
  }
</style>
