---
const { className, top, right, bottom, left } = Astro.props
---

<div
  class:list=`float-container float-container--${className}`
  style={`
    ${top !== undefined ? `top: ${top}rem;` : ''}
    ${bottom !== undefined && top === undefined ? `bottom: ${bottom}rem;` : ''}
    ${right !== undefined ? `right: ${right}rem; left: auto;` : ''}
    ${left !== undefined ? `left: ${left}rem; right: auto;` : ''}
  `}
>
  <div class='float-container__body'>
    <slot />
  </div>
</div>

<style>
  .float-container {
    background-image: linear-gradient(-45deg, #f1fcf526 15%, #eff9ffbf);
    position: absolute;
    padding: 1px;
    border-radius: 1rem;
    transform: translateY(0px);
    transition: 0.2s ease transform;
    will-change: transform;
  }

  .float-container__body {
    background-color: #062d4b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 16px;
    padding: 1rem;
  }

  @media screen and (max-width: 768px) {
    .float-container {
      display: none;
    }
  }

  @media screen and (max-width: 1050px) {
    .float-container--kpi {
      transform: translateY(-3rem);
    }
  }

  @media screen and (max-width: 875px) {
    .float-container--kpi {
      transform: translateY(-6rem);
    }
  }

  @media screen and (max-height: 800px) {
    .float-container--pushNotification {
      transform: translateY(4rem);
    }
  }
</style>
