---
import Button from '@/shared/components/Button.astro'
import Check from '@/shared/components/icons/Check.astro'

interface Props {
  name: string
  description: string
  features: string[]
  card: 'access-20' | 'access-50' | 'access-ltd'
  price: number
  recommended?: boolean
}

const { card, name, description, features, price, recommended }: Props = Astro.props

const recommendedClass = recommended ? 'pricing__card--recommended' : ''
---

<div class:list=`pricing__card ${recommendedClass}` data-aos='flip-left'>
  <div class='pricing__card-badge'>Te lo recomiendo</div>
  <h3 class='pricing__card-name'>{name}</h3>
  <p class='pricing__card-description'>
    {description}
  </p>
  <div class='pricing__card-price'>
    <div id=`price-${card}` class='pricing__card-price-value'>{price} USD</div>
    <div id=`price-${card}` class='pricing__card-price-helper'>una sola vez</div>
  </div>
  <div class='pricing__features'>
    <div
      class:list=`pricing__feature ${features[0] === undefined ? 'pricing__feature--disabled' : ''}`
    >
      <Check size={20} color={recommended ? '#ffffff' : '#000000'} />
      <p class='pricing__feature-text'>{features[0]}</p>
    </div>
    <div
      class:list=`pricing__feature ${features[1] === undefined ? 'pricing__feature--disabled' : ''}`
    >
      <Check size={20} color={recommended ? '#ffffff' : '#000000'} />
      <p class='pricing__feature-text'>{features[1]}</p>
    </div>
    <div
      class:list=`pricing__feature ${features[2] === undefined ? 'pricing__feature--disabled' : ''}`
    >
      <Check size={20} color={recommended ? '#ffffff' : '#000000'} />
      <p class='pricing__feature-text'>{features[2]}</p>
    </div>
    <div
      class:list=`pricing__feature ${features[3] === undefined ? 'pricing__feature--disabled' : ''}`
    >
      <Check size={20} color={recommended ? '#ffffff' : '#000000'} />
      <p class='pricing__feature-text'>{features[3]}</p>
    </div>
    <div
      class:list=`pricing__feature ${features[4] === undefined ? 'pricing__feature--disabled' : ''}`
    >
      <Check size={20} color={recommended ? '#ffffff' : '#000000'} />
      <p class='pricing__feature-text'>{features[4]}</p>
    </div>
    <div
      class:list=`pricing__feature ${features[5] === undefined ? 'pricing__feature--disabled' : ''}`
    >
      <Check size={20} color={recommended ? '#ffffff' : '#000000'} />
      <p class='pricing__feature-text'>{features[5]}</p>
    </div>
    <div
      class:list=`pricing__feature ${features[6] === undefined ? 'pricing__feature--disabled' : ''}`
    >
      <Check size={20} color={recommended ? '#ffffff' : '#000000'} />
      <p class='pricing__feature-text'>{features[6]}</p>
    </div>
    <div
      class:list=`pricing__feature ${features[7] === undefined ? 'pricing__feature--disabled' : ''}`
    >
      <Check size={20} color={recommended ? '#ffffff' : '#000000'} />
      <p class='pricing__feature-text'>{features[7]}</p>
    </div>
    <div
      class:list=`pricing__feature ${features[8] === undefined ? 'pricing__feature--disabled' : ''}`
    >
      <Check size={20} color={recommended ? '#ffffff' : '#000000'} />
      <p class='pricing__feature-text'>{features[8]}</p>
    </div>
    <div
      class:list=`pricing__feature ${features[9] === undefined ? 'pricing__feature--disabled' : ''}`
    >
      <Check size={20} color={recommended ? '#ffffff' : '#000000'} />
      <p class='pricing__feature-text'>{features[9]}</p>
    </div>
  </div>
  <Button
    mode={recommended ? 'default' : 'outlined'}
    type={recommended ? 'gradient' : 'gray'}
    href='#!BuyIt'>Comprar</Button
  >
</div>

<style>
  .pricing__card-badge {
    text-transform: uppercase;
    background-color: #52d689;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    width: fit-content;
    margin: 0 auto;
    font-weight: bold;
    font-size: 0.7rem;
    display: none;
  }

  .pricing__card--recommended .pricing__card-badge {
    display: block;
  }

  .pricing__card {
    padding: 1rem 2rem;
    border-radius: 1rem;
  }

  .pricing__card-name {
    text-align: center;
    margin: 0.5rem 0;
    font-size: var(--32-pt);
    color: var(--shade-03);
  }

  .pricing__card-description {
    text-align: center;
    margin: 0.5rem 0;
    color: var(--shade-03);
  }

  .pricing__card--recommended .pricing__card-description {
    color: var(--white);
  }

  .pricing__card-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    margin-bottom: 3rem;
    gap: 0rem;
  }

  .pricing__card-price-value {
    font-size: var(--38-pt);
    font-weight: bold;
    color: var(--shade-03);
  }

  .pricing__card--recommended .pricing__card-price-helper {
    color: var(--white);
    font-weight: 400;
  }

  .pricing__card--recommended {
    position: relative;
    background-color: var(--shade-03);
    height: calc(100% + 0.5rem);
  }

  .pricing__card--recommended .pricing__card-name {
    color: var(--white);
  }

  .pricing__card--recommended .pricing__card-description {
    color: var(--neutral-03);
  }

  .pricing__card--recommended .pricing__card-price-value {
    color: var(--neutral-02);
  }

  .pricing__features {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1.5rem 0;
  }

  .pricing__feature {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--20-pt);
  }

  .pricing__feature-text {
    margin: 0;
  }

  .pricing__feature--disabled {
    display: none;
  }

  .pricing__card--recommended .pricing__feature-text {
    color: var(--neutral-02);
  }

  @media screen and (max-width: 768px) {
    .pricing__card {
      padding: 1rem;
      width: 100%;
      max-width: 420px;
      margin: 0 auto;
    }

    .pricing__card--recommended {
      height: inherit;
    }
  }
</style>
