---
import ceo from '@/assets/img/ceo.webp'
import logoBg from '@/assets/img/logo-bg.webp'
import WhatsAppButton from './WhatsAppButton.astro'
import WhatsAppCard from './WhatsAppCard.astro'
import WhatsAppChat from './WhatsAppChat.astro'

interface Props {
  top?: number
  right?: number
  bottom?: number
  left?: number
}

const { top, right, bottom, left } = Astro.props
---

<script>
  const button = document.getElementById('button')
  const whatsAppButton = document.querySelector('.whatsAppButton')
  button?.addEventListener('click', () => {
    whatsAppButton?.classList.toggle('whatsApp-open')
  })
</script>

<div
  class='whatsApp'
  style={`
  ${top !== undefined ? `top: ${top}rem;` : ''}
  ${bottom !== undefined && top === undefined ? `bottom: ${bottom}rem;` : ''}
  ${right !== undefined ? `right: ${right}rem; left: inherit;` : ''}
  ${left !== undefined ? `left: ${left}rem; right: inherit;` : ''}
`}
>
  <div class='whatsApp__button-container' id='button'>
    <WhatsAppButton bottom={2} right={2} />
  </div>
  <div class='whatsApp__card-container'>
    <WhatsAppCard>
      <WhatsAppChat
        chatName='Atención al cliente'
        description='Siempre que nos necesites'
        icon={logoBg.src}
        iconAlt='Logo de Gadmin'
      />
      <WhatsAppChat
        chatName='Orlando Briceño'
        description='Director general'
        icon={ceo.src}
        iconAlt='Foto CEO'
      />
    </WhatsAppCard>
  </div>
</div>

<style>
  .whatsApp {
    position: fixed;
    z-index: 100;
  }
  .whatsApp__button-container {
    display: flex;
    justify-content: center;
  }
</style>
