---
import SEO from '@/shared/components/SEO.astro'
import type { Preload } from '@/shared/types/Preload'
import 'aos/dist/aos.css'
interface Props {
  title: string
  description: string
  preload?: Array<Preload>
  canonical?: string
  image?: string
}

const { title, description, preload, canonical, image } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <SEO
      title={title}
      description={description}
      preload={preload}
      canonical={canonical}
      image={image}
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'
      rel='stylesheet preload prefetch'
      as='style'
    />
  </head>
  <body>
    <slot />
    <script>
      import { aosInit } from '@/js/aos'

      const handleScroll = () => {
        var scrolled = window.scrollY > 0
        document.body.classList.toggle('scrolled', scrolled)
      }
      document.addEventListener('DOMContentLoaded', handleScroll)
      window.addEventListener('scroll', handleScroll)

      aosInit()
    </script>
    <style is:global>
      :root {
        --white: #ffffff;
        --primary: #0eaaf9;
        --secondary: #27ae60;
        --shade-02: #222222;
        --shade-03: #070a2b;
        --shade-04: #151b5b;
        --neutral-02: #ebebeb;
        --neutral-03: #dddddd;
        --neutral-04: #d3d3d3;
        --neutral-06: #b0b0b0;
        --neutral-07: #717171;
        --neutral-08: #5e5e5e;
        --primary-3: #b8e5ff;

        --64-pt: 3rem;
        --48-pt: 2.25rem;
        --40-pt: 2rem;
        --32-pt: 1.25rem;
      }

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      html {
        font-family: 'Lexend', sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        background: #13151a;
        background-size: 224px;
        scrollbar-gutter: stable;
      }

      html,
      body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
      }

      h1,
      h2,
      h3,
      h4 {
        font-weight: 700;
      }

      a:visited {
        color: var(--secondary);
      }

      .wrapper {
        max-width: 72rem;
        margin: 0 auto;
      }

      .text-primary {
        color: var(--primary);
      }

      @media screen and (max-width: 768px) {
        :root {
          --64-pt: 2.5rem;
          --48-pt: 2rem;
          --40-pt: 1.5rem;
          --32-pt: 1.15rem;
        }

        .hide-on-mobile {
          display: none !important;
        }
      }

      @media screen and (max-width: 375px) {
        :root {
          --64-pt: 2rem;
          --40-pt: 1.35rem;
        }
      }
    </style>
  </body>
</html>
