---
import Button from '@/shared/components/Button.astro'

interface Props {
  name: string
  description: string
  card: 'bronze' | 'silver' | 'gold'
}

const { name, description, card }: Props = Astro.props

const buttonType = card === 'silver' ? 'gradient' : 'gray'
---

<div class=`table__item table__item--${card}`>
  <span class='item__name'>{name}</span>
  <div class='pricing__card-table-price'>
    <div id=`price-table-${card}` class='pricing__card-table-price-value'>$84</div>
    <div id=`price-table-${card}-billing` class='pricing__card-table-price-billing'>/mes</div>
  </div>
  <Button mode='default' type={buttonType} href='https://stores.gadmin.app/login' target='_blank'
    >COMENZAR</Button
  >
</div>

<style>
  .table__item {
    padding: 1rem;
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .item__name {
    font-size: 1.4rem;
    color: var(--shade-03);
  }

  .table__item--silver .item__name {
    color: var(--primary);
  }

  .pricing__card-table-price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 0.5rem;
  }

  .table__item--silver {
    position: relative;
    top: -2rem;
    background-color: var(--shade-03);
    height: calc(100% + 0.5rem);
  }

  .table__item--silver .pricing__card-table-price-billing {
    color: var(--neutral-03);
  }

  .table__item--silver .pricing__card-table-price-value {
    color: var(--neutral-02);
  }

  .pricing__card-table-price-value {
    font-size: var(--40-pt);
    font-weight: bold;
    color: var(--shade-03);
  }

  .pricing__card-table-price-billing {
    color: var(--neutral-08);
  }
</style>
